@tailwind base;
@tailwind components;
@tailwind utilities;
html{
    @apply font-varela;
}

/* width */
::-webkit-scrollbar {
    width: 7px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: rgb(29, 29, 36);
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(190, 242, 255);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(136, 183, 197);
  }